src/main/resources/TransactionReporting_CustomerXMLUpload_1.62.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Statistix- / Info-Operations (Deutsche Börse AG) -->
<!--Created with Liquid XML Studio Designer Edition 8.1.7.2743 (http://www.liquid-technologies.com)-->
<!-- 
    Version 001.60 / release 1.6 of XML upload file for Deutsche Börse AG's Regulatory Reporting Hub. Further information about this schema can be found in the correpsonding Inbound File specification.
	Only to be used for uploading to the Regulatory Reporting Hub. 
-->
<xs:schema xmlns:tns="http://deutsche-boerse.com/DBRegHub" xmlns="http://deutsche-boerse.com/DBRegHub" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://deutsche-boerse.com/DBRegHub" elementFormDefault="qualified" version="001.60">
	<xs:element name="reportFile">
		<xs:annotation>
			<xs:documentation>XML Upload to Deutsche Börse AG's Regulatory Hub</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="1">
				<xs:element name="fileInformation" type="fileInformation" minOccurs="1" maxOccurs="1"/>
				<xs:element name="record" type="record" id="HE004_1" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="fileInformation">
		<xs:sequence>
			<xs:element name="sender" type="customerId" id="HE001"/>
			<xs:element name="timestamp" id="HE002">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(19|20|21)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])(T)((0|1)[0-9]|(2)[0-4])(:)((0|1|2|3|4|5)[0-9])(:)((0|1|2|3|4|5)[0-9])(Z)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="environment" id="HE003">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:enumeration value="SIM"/>
						<xs:enumeration value="PRO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" id="HE005">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
						<xs:pattern value="(([0-9]{0,3})([.][0-9]{1,2})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="record">
		<xs:choice>
			<xs:element name="transaction" type="transactionPositionReport" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">T records</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referencePartyDetails" type="referencePartyDetails" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">R records</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>	
	</xs:complexType>
	<xs:complexType name="transactionPositionReport">
		<xs:sequence maxOccurs="1">
			<xs:element name="processingDetails" type="processingDetails" minOccurs="1" maxOccurs="1"/>
			<xs:element name="configurableFields" type="configurableFields" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mifir" type="mifirDetails" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="processingDetails">
		<xs:sequence>
			<xs:element name="tradeDate" id="PD001" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(19|20|21)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="customerTransactionId" type="Ref_ID1" id="PD002" minOccurs="1" maxOccurs="1"/>
			<xs:element name="actionType" id="PD003" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="N"/>
						<xs:enumeration value="R"/>
						<xs:enumeration value="C"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="businessUnit" id="PD005" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
						<xs:pattern value="[A-Za-z0-9 \?&#x20;#%/\+]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="userId" id="PD006" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comment" id="PD010" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:pattern value="[A-Za-z0-9 ]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="modificationDate" id="PD012" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(19|20|21)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tradeReportId" type="Ref_ID2" id="PD014" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sourceSystem" type="string50" id="PD015" minOccurs="0" maxOccurs="1"/>
			<xs:element name="recordMode" id="PD016" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
						<xs:enumeration value="draft"/>
						<xs:enumeration value="check draft"/>
						<xs:enumeration value="backreporting"/>
						<xs:enumeration value="assistance only"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="messageID" type="messageID" id="PD017" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="configurableFields">
		<xs:sequence>
			<xs:element name="userField1" type="string50" id="UF001" minOccurs="0" maxOccurs="1"/>
			<xs:element name="userField2" type="string50" id="UF002" minOccurs="0" maxOccurs="1"/>
			<xs:element name="userField3" type="string50" id="UF003" minOccurs="0" maxOccurs="1"/>
			<xs:element name="userField4" type="string50" id="UF004" minOccurs="0" maxOccurs="1"/>
			<xs:element name="userField5" type="string50" id="UF005" minOccurs="0" maxOccurs="1"/>
			<xs:element name="userField6" type="string50" id="UF006" minOccurs="0" maxOccurs="1"/>
			<xs:element name="userField7" type="string50" id="UF007" minOccurs="0" maxOccurs="1"/>
			<xs:element name="userField8" type="string50" id="UF008" minOccurs="0" maxOccurs="1"/>
			<xs:element name="userField9" type="string50" id="UF009" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirDetails">
		<xs:sequence>
			<xs:element name="delegation" type="mifirDelegation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="counterpartyDetails" type="mifirCounterpartyDetails" minOccurs="0" maxOccurs="1"/>
			<xs:element name="transmission" type="mifirTransmission" minOccurs="0" maxOccurs="1"/>
			<xs:element name="transactionDetails" type="mifirTransaction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instrumentDetails" type="mifirInstrumentDetails" minOccurs="0" maxOccurs="1"/>
			<xs:element name="otherDetails" type="mifirOtherDetails" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirDelegation">
		<xs:sequence>
			<xs:element name="partialAssistanceFlag" id="DD001m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="partialAssistanceSubmitterId" type="LEI" id="DD002m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pairingId" id="DD004m" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:pattern value="[A-Z 0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirCounterpartyDetails">
		<xs:sequence>
			<xs:element name="executingEntityId" type="LEId" id="CP002m" maxOccurs="1"/>
			<xs:element name="mifidInvestmentFirm" type="YesNo" id="CP003m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="branchMembershipCountry" type="Country_Code" id="CP006m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="buyer" type="mifirBuyer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="seller" type="mifirSeller" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirBuyer">
		<xs:sequence>
			<xs:element name="mifirBuyerDetails" type="mifirBuyerDetails" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="mifirBuyerDecisionMakerDetails" type="mifirBuyerDecisionMakerDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirBuyerDetails">
		<xs:sequence>
			<xs:element name="buyerId" type="buyerSellerId" id="CP014m" minOccurs="1" maxOccurs="1"/>
			<xs:element name="buyerBranchCountry" type="Country_Code" id="CP015m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="buyerFirstname" type="nameType" id="CP016m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="buyerSurname" type="nameType" id="CP017m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="buyerBirthdate" id="CP018m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(17|18|19|20|21)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirBuyerDecisionMakerDetails">
		<xs:sequence>
			<xs:element name="buyerDecisionMakerId" type="buyerSellerDecisionMakerId" id="CP020m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="buyerDecisionFirstname" type="nameType" id="CP021m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="buyerDecisionSurname" type="nameType" id="CP022m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="buyerDecisionBirthdate" id="CP023m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(19|20|21)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirSeller">
		<xs:sequence>
			<xs:element name="mifirSellerDetails" type="mifirSellerDetails" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="mifirSellerDecisionMakerDetails" type="mifirSellerDecisionMakerDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirSellerDetails">
		<xs:sequence>
			<xs:element name="sellerId" type="buyerSellerId" id="CP025m" minOccurs="1" maxOccurs="1"/>
			<xs:element name="sellerBranchCountry" type="Country_Code" id="CP026m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sellerFirstname" type="nameType" id="CP027m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sellerSurname" type="nameType" id="CP028m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sellerBirthdate" id="CP029m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(17|18|19|20|21)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirSellerDecisionMakerDetails">
		<xs:sequence>
			<xs:element name="sellerDecisionMakerId" type="buyerSellerDecisionMakerId" id="CP031m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sellerDecisionFirstname" type="nameType" id="CP032m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sellerDecisionSurname" type="nameType" id="CP033m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sellerDecisionBirthdate" id="CP034m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(19|20|21)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirTransmission">
		<xs:sequence>
			<xs:element name="transmissionId" type="YesNo" id="TM001m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="transmittingEntityBuyerId" type="LEId" id="TM003m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="transmittingEntitySellerId" type="LEId" id="TM005m" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirTransaction">
		<xs:sequence>
			<xs:element name="trnRefNumber" type="Ref_ID2" id="TR001m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tradingVenueTrnIdCode" type="Ref_ID2" id="TR005m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="venue" id="TR006m" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:pattern value="[A-Za-z0-9]{4,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tradeTime" id="TR007m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="((0|1)[0-9]|(2)[0-4])(:)((0|1|2|3|4|5)[0-9])(:)((0|1|2|3|4|5)[0-9])(.)([0-9]{6})(Z|((\+|-)((0|1|2|3|4|5)[0-9])(:)((0|1|2|3|4|5)[0-9])))"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mifirTradingCapacity" id="TR011m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DEAL"/>
						<xs:enumeration value="MTCH"/>
						<xs:enumeration value="AOTC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="quantity" type="mifirQuantity" id="TR013m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="quantityCurrency" type="Currency_Code" id="TR014m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="notionalIncreaseDecrease" id="TR015m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INCR"/>
						<xs:enumeration value="DECR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="price" type="mifirPrice" id="TR019m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="priceCurrency" type="Currency_Code" id="TR020m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="netAmount" id="TR021m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
						<xs:pattern value="((0|[1-9][0-9]{0,17})([.][0-9]{1,5})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="upfrontPayment" id="TR022m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:pattern value="(-?(0|[1-9][0-9]{0,17})([.][0-9]{1,5})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="upfrontPaymentCurrency" type="Currency_Code" id="TR023m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="complexTradeComponentId" id="TR024m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="([A-Za-z]|[0-9]){1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirInstrumentDetails">
		<xs:sequence>
			<xs:element name="instrumentId" type="instrumentId" id="ID006m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instrumentName" id="ID007m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="350"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="instrumentClass" id="ID008m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="notionalCurrency1" type="Currency_Code" id="ID009m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="notionalCurrency2" type="Currency_Code" id="ID010m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="priceMultiplier" id="ID011m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
						<xs:pattern value="((0|[1-9][0-9]{0,17})([.][0-9]{1,17})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="underlying" type="mifirUnderlying" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="optionType" id="ID019m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PUTO"/>
						<xs:enumeration value="CALL"/>
						<xs:enumeration value="OTHR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="strikePrice" type="mifirStrikePrice" id="ID021m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="strikePriceCurrency" type="Currency_Code" id="ID022m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="optionExerciseStyle" id="ID023m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EURO"/>
						<xs:enumeration value="AMER"/>
						<xs:enumeration value="ASIA"/>
						<xs:enumeration value="BERM"/>
						<xs:enumeration value="OTHR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maturityDateInstrument" id="ID024m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(19|20|21|99)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="expiryDate" id="ID025m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(19|20|21)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="deliveryType" id="ID026m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PHYS"/>
						<xs:enumeration value="CASH"/>
						<xs:enumeration value="OPTL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirUnderlying">
		<xs:choice>
			<xs:element name="underlyingInstrument" type="mifirUnderlyingInstrument" maxOccurs="1"/>
			<xs:element name="underlyingIndex" type="mifirUnderlyingIndex" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mifirUnderlyingInstrument">
		<xs:sequence>
			<xs:element name="underlyingInstrumentDirection" id="ID062m" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Only applicable for Swaps.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="+"/>
						<xs:enumeration value="-"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="underlyingInstrumentCode" type="ISIN" id="ID014m" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirUnderlyingIndex">
		<xs:sequence>
			<xs:element name="underlyingIndexDirection" id="ID063m" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">Only applicable for Swaps.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="+"/>
						<xs:enumeration value="-"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="underlyingIndexCode" type="ISIN" id="ID064m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="underlyingIndexName" type="mifirUnderlyingIndexName" id="ID015m" minOccurs="1" maxOccurs="1"/>
			<xs:element name="underlyingIndexTerm" id="ID016m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="underlyingIndexTermUnit" id="ID017m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:enumeration value="DAYS"/>
						<xs:enumeration value="WEEK"/>
						<xs:enumeration value="MNTH"/>
						<xs:enumeration value="YEAR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mifirUnderlyingIndexName">
		<xs:choice>
			<xs:element name="underlyingIndexNameAcronym" id="ID015m_a" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="WIBO">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">WIBOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Warsaw Interbank Offered Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="TREA">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Treasury</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Treasury benchmark that comes in three types: the yield curve, the par curve, and the spot curve.  All curves also have a constituent time series.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="TIBO">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">TIBOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Tokyo Interbank Offered Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="TLBO">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">TELBOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Tel Aviv Interbank Offered Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SWAP">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">SWAP</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">In curve construction, Swap is the long portion of the curve constituting about 3 years to 30 years term.
The exchange of one security, currency or interest rate for another to change the maturity (bonds), or quality of issues (stocks or bonds), or because investment objectives have changed.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="STBO">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">STIBOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Stockholm Interbank Offered Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PRBO">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">PRIBOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Czech Fixing of Interest Rates on Interbank Deposits.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PFAN">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Pfandbriefe</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Pfandbriefe security is a collateralised bullet bond backed by either mortgage loans or loans to the public sector.  Pfandbriefe differ from traditional asset-backed securities in significant ways.  The most important difference is that Pfandbriefe carry no pre-payment risk since they remain on the balance sheet of the issuing institution.  Therefore, their spreads over sovereign bonds are attributable to liquidity and credit quality alone.  New indices have been created and existing indices have been modified in response to the growing importance of the Pfandbriefe market.  The Deutsche Borse has three synthetic indices called REX, JEX, and PEX.  The Pfandbriefe curve is used as a reference for credit as well as mortgage market.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="NIBO">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">NIBOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Norwegian Interbank Offered Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="MAAA">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">MuniAAA</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Benchmark curve used for municipals based on the best credit rating for municipal market debt.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="MOSP">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">MOSPRIM</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Moscow Prime Offered Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="LIBO">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">LIBOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">London Interbank Offered Rate, the interest rate that major international banks in London charge each other for borrowing.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="LIBI">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">LIBID</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Rate at which major international banks are willing to take deposits from one another, is normally 1/8 percent below LIBOR,
London InterBank Bid Rate, the rate bid by banks on Eurocurrency deposits; the international rate that banks lend to other banks.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="JIBA">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">JIBAR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Johannesburg Interbank Agreed Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ISDA">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">ISDAFIX</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Worldwide common reference rate value for fixed interest rate swap rates, as defined by the International Swaps and Derivatives Association (ISDA).</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="GCFR">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">GCFRepo</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">GCF Repo Index, the Depository Trust and Clearing Corporation (DTCC) general collateral finance repurchase agreements index.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="FUSW">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">FutureSWAP</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Portion of a synthetic curve that is composed of Eurodollar or Treasury or similar Futures and Swap rates.  The term usually begins at 3 months to 2 years for the futures strip component with the Swaps filling in the points to 10 years and beyond.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="EUCH">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">EuroSwiss</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Swiss Franc LIBOR rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="EUUS">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">EURODOLLAR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Rate for the eurodollars, time deposits denominated in U.S. dollars at banks outside the United States, and thus are not under the jurisdiction of the Federal Reserve.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="EURI">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Euribor</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Euro Interbank Offer Rate is the rate at which Euro inter-bank term deposits within the Euro zone are offered by one prime bank to another prime bank.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="EONS">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">EONIASwaps</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Euro OverNight Index Average swap rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="EONA">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">EONIA</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Euro OverNight Index Average rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CIBO">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">CIBOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Copenhagen Interbank Offered Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CDOR">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">CDOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Canadian Dollar Offered Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="BUBO">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">BUBOR</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Budapest Interbank Offered Rate.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="BBSW">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">BBSW</xs:documentation>
								<xs:documentation source="Definition" xml:lang="EN">Australian Financial Markets Association (AFMA) Bank-Bill Reference Rate (BBSW).</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="underlyingIndexNameFull" id="ID015m_b" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mifirOtherDetails">
		<xs:sequence>
			<xs:element name="investmentDecisionId" type="investmentDecisionId" id="OD008m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="investmentDecisionBranchCountry" type="Country_Code" id="OD009m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="executionId" type="investmentExecutionId" id="OD011m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="supervisingBranchCountry" type="Country_Code" id="OD012m" minOccurs="0"/>
			<xs:element name="waiverIndicator" id="OD013m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
						<xs:pattern value="((RFPT|NLIQ|OILQ|PRIC|SIZE|ILQD)(,(RFPT|NLIQ|OILQ|PRIC|SIZE|ILQD)){0,3})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="shortSellingIndicator" id="OD014m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SESH"/>
						<xs:enumeration value="SSEX"/>
						<xs:enumeration value="SELL"/>
						<xs:enumeration value="UNDI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="otcPostTradeIndicator" id="OD015m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="54"/>
						<xs:pattern value="((BENC|ACTX|LRGS|ILQD|SIZE|AMND|CANC|SDIV|RPRI|DUPL|TNCP|TPAC|XFPH)(,(BENC|ACTX|LRGS|ILQD|SIZE|AMND|CANC|SDIV|RPRI|DUPL|TNCP|TPAC|XFPH)){0,10})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="commodityDerivativeIndicator" type="YesNo" id="OD016m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sftrIndicator" type="YesNo" id="OD017m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="clientType" id="OD018m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="R"/>
						<xs:enumeration value="P"/>
						<xs:enumeration value=" "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="orderType" id="OD019m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="P"/>
						<xs:enumeration value="A"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="directedOrderFlag" type="YesNo" id="OD020m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="liqpFlag" id="OD021m" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="E"/>
						<xs:enumeration value="C"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="orderGroupId" type="string50" id="OD022m" minOccurs="0" maxOccurs="1"/>
			<xs:element name="toaxFlag" type="YesNo" id="OD023m" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="referencePartyDetails">
		<xs:sequence>
			<xs:element name="executingEntityId" type="LEId" id="CP002r" minOccurs="1" maxOccurs="1"/>
			<xs:element name="internalPartyId" id="PR001" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z 0-9]{1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code" type="partyCodeType" id="PR003r" minOccurs="0" maxOccurs="1"/>
			<xs:element name="branchCountry" type="Country_Code" id="PR004r" minOccurs="0" maxOccurs="1"/>
			<xs:element name="firstName" type="nameType" id="PR005r" minOccurs="0" maxOccurs="1"/>
			<xs:element name="surname" type="nameType" id="PR006r" minOccurs="0" maxOccurs="1"/>
			<xs:element name="birthdate" id="PR007r" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(17|18|19|20|21)[0-9]{2}(-)((0)[1-9]|(1)[012])(-)((0)[1-9]|(1|2)[0-9]|(3)[01])"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LEId">
		<xs:sequence>
			<xs:element name="LEI" type="LEI" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="buyerSellerId">
		<xs:choice>
			<xs:element name="LEI" type="LEI" maxOccurs="1"/>
			<xs:element name="MIC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_CCPT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})|([A-Za-z]{2,2}[A-Za-z0-9]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_NIDN" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})|([A-Za-z]{2,2}[A-Za-z0-9]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_CONCAT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Za-z]{2,2}(17|18|19|20|21)[0-9]{2}((0)[1-9]|(1)[012])((0)[1-9]|(1|2)[0-9]|(3)[01])[A-Za-z]{1}[A-Za-z#]{4}[A-Za-z]{1}[A-Za-z#]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_DERCON" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INTC" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:enumeration value="INTC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INTERNAL_PARTY_ID" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z 0-9]{1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INVALID_PARTY" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z 0-9]{1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="buyerSellerDecisionMakerId">
		<xs:choice>
			<xs:element name="LEI" type="LEI" maxOccurs="1"/>
			<xs:element name="NATIONAL_ID_CCPT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})|([A-Za-z]{2,2}[A-Za-z0-9]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_NIDN" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})|([A-Za-z]{2,2}[A-Za-z0-9]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_CONCAT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Za-z]{2,2}(19|20)[0-9]{2}((0)[1-9]|(1)[012])((0)[1-9]|(1|2)[0-9]|(3)[01])[A-Za-z]{1}[A-Za-z#]{4}[A-Za-z]{1}[A-Za-z#]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_DERCON" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INTERNAL_PARTY_ID" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z 0-9]{1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INVALID_PARTY" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z 0-9]{1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mifirStrikePrice">
		<xs:choice>
			<xs:element name="MONETARY" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:pattern value="(-?(0|[1-9][0-9]{0,17})([.][0-9]{1,13})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PERCENT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="13"/>
						<xs:pattern value="(-?(0|[1-9][0-9]{0,10})([.][0-9]{1,10})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="YIELD" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="13"/>
						<xs:pattern value="(-?(0|[1-9][0-9]{0,10})([.][0-9]{1,10})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BASIS_POINTS" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:pattern value="(-?(0|[1-9][0-9]{0,17})([.][0-9]{1,17})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PNDG" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:enumeration value="PNDG"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mifirQuantity">
		<xs:choice>
			<xs:element name="UNIT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
						<xs:pattern value="((0|[1-9][0-9]{0,17})([.][0-9]{1,17})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NOMINAL" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
						<xs:pattern value="((0|[1-9][0-9]{0,17})([.][0-9]{1,5})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MONETARY" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
						<xs:pattern value="((0|[1-9][0-9]{0,17})([.][0-9]{1,5})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mifirPrice">
		<xs:choice>
			<xs:element name="MONETARY" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:pattern value="(-?(0|[1-9][0-9]{0,17})([.][0-9]{1,13})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PERCENT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="13"/>
						<xs:pattern value="(-?(0|[1-9][0-9]{0,10})([.][0-9]{1,10})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="YIELD" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="13"/>
						<xs:pattern value="(-?(0|[1-9][0-9]{0,10})([.][0-9]{1,10})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BASIS_POINTS" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:pattern value="(-?(0|[1-9][0-9]{0,17})([.][0-9]{1,17})?)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PNDG" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:enumeration value="PNDG"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NOAP" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:enumeration value="NOAP"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="instrumentId">
		<xs:sequence>
			<xs:element name="ISIN" type="ISIN" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="investmentDecisionId">
		<xs:choice>
			<xs:element name="NATIONAL_ID_CCPT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([A-Za-z]{2,2}[A-Za-z0-9]{1,33})|((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_NIDN" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([A-Za-z]{2,2}[A-Za-z0-9]{1,33})|((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_CONCAT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Za-z]{2,2}(19|20)[0-9]{2}((0)[1-9]|(1)[012])((0)[1-9]|(1|2)[0-9]|(3)[01])[A-Za-z]{1}[A-Za-z#]{4}[A-Za-z]{1}[A-Za-z#]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ALGO" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="([A-Za-z]|[0-9]){1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INTERNAL_PARTY_ID" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z 0-9]{1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INVALID_PARTY" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z 0-9]{1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="investmentExecutionId">
		<xs:choice>
			<xs:element name="NATIONAL_ID_CCPT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([A-Za-z]{2,2}[A-Za-z0-9]{1,33})|((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_NIDN" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([A-Za-z]{2,2}[A-Za-z0-9]{1,33})|((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_CONCAT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Za-z]{2,2}(19|20)[0-9]{2}((0)[1-9]|(1)[012])((0)[1-9]|(1|2)[0-9]|(3)[01])[A-Za-z]{1}[A-Za-z#]{4}[A-Za-z]{1}[A-Za-z#]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ALGO" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="([A-Za-z]|[0-9]){1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CLIENT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INTERNAL_PARTY_ID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z 0-9]{1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INVALID_PARTY" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:pattern value="[A-Za-z 0-9]{1,35}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="partyCodeType">
		<xs:choice>
			<xs:element name="LEI" type="LEI" maxOccurs="1"/>
			<xs:element name="MIC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_CCPT">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([A-Za-z]{2,2}[A-Za-z0-9]{1,33})|((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_NIDN" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([A-Za-z]{2,2}[A-Za-z0-9]{1,33})|((FI)[A-Za-z0-9\-\+]{1,33})|((LV)[A-Za-z0-9\-]{1,33})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_CONCAT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Za-z]{2,2}(17|18|19|20|21)[0-9]{2}((0)[1-9]|(1)[012])((0)[1-9]|(1|2)[0-9]|(3)[01])[A-Za-z]{1}[A-Za-z#]{4}[A-Za-z]{1}[A-Za-z#]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NATIONAL_ID_DERCON" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INTC" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
						<xs:enumeration value="INTC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ALGO" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="([A-Za-z]|[0-9]){1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CLIENT" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="customerId">
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[A-Za-z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LEI">
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[A-Za-z0-9]{18,18}[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Ref_ID">
		<xs:restriction base="xs:string">
			<xs:maxLength value="52"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Ref_ID1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="52"/>
			<xs:pattern value="[A-Z 0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Ref_ID2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="52"/>
			<xs:pattern value="([A-Za-z]|[0-9]){1,52}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISIN">
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="[A-Za-z]{2,2}[A-Za-z0-9]{9,9}[0-9]{1,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Country_Code">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Code">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNo">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decimal20_19pos">
		<xs:restriction base="xs:string">
			<xs:maxLength value="22"/>
			<xs:pattern value="((0|[1-9][0-9]{0,20})([.][0-9]{1,20})?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageID">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:pattern value="([A-Za-z0-9\-\._]){1,30}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
